---
import Layout from '@layouts/Layout.astro';
import './styles.css';

/* View Transitions
    Creating a small handful of usable view transition
    examples/demos.
 */
---

<Layout>
  <div>

  </div>
</Layout>