---
import Layout from '@layouts/Layout.astro';
import 'styles.css';

/* Bento Video Grid Layout
  a responsive Bento layout, holding cells that can contain video,
  which create dynamic backgrounds as they play and pause on hover,
  revealing different frames when they stop.
 */
---

<Layout>
  <div id="grid">
    <div class="cell">1</div>
    <div class="cell">2</div>
    <div class="cell">3</div>
  </div>
</Layout>

<script type="module">

</script>
