---
import Layout from '../layouts/Layout.astro';

// Check out the Astro documentation at https://docs.astro.build
---

<Layout>
  <ul>
    <li>
      <a href="/bento-video-grid">Bento Video Grid</a>
    </li>
  </ul>
</Layout>
