---
import Layout from '../layouts/Layout.astro';

// Check out the Astro documentation at https://docs.astro.build
---

<Layout>
  <div class="bg-gray-900 h-full w-full">
    <div class="container mx-auto py-6">
      <h1 class="text-gray-700 font-extrabold text-5xl mb-8">
        Layout Concepts
      </h1>
      <ul class="text-gray-400 text-xl">
        <li class="mb-2">
          <a class="hover:text-white" href="/bento-video-grid">
            Bento Video Grid
          </a>
        </li>
        <li class="mb-2">
          <a class="hover:text-white" href="/pdp-horizontal-slide">
            PDP Horizontal Slide
          </a>
        </li>
        <li class="mb-2">
          <a class="hover:text-white" href="/video-overlay">
            Video Overlay
          </a>
        </li>
        <li class="mb-2">
          <a class="hover:text-white" href="/view-transitions">
            View Transitions
          </a>
        </li>
        <li class="mb-2">
          <a class="hover:text-white" href="/menu-ixd-examples">
            Menu IxD Examples
          </a>
        </li>
      </ul>
    </div>
  </div>
</Layout>
