---
import Layout from '../layouts/Layout.astro';

// Check out the Astro documentation at https://docs.astro.build
---

<Layout>
  <div class="container mx-auto py-6">
    <ul>
      <li>
        <a href="/bento-video-grid">Bento Video Grid</a>
      </li>
      <li>
        <a href="/pdp-horizontal-slide">PDP Horizontal Slide</a>
      </li>
      <li>
        <a href="/video-overlay">Video Overlay</a>
      </li>
      <li>
      <a href="/view-transitions">View Transitions</a>
    </li>
    </ul>
  </div>
</Layout>
