---
import Layout from '@layouts/Layout.astro';
import test4 from '@assets/video/test4.avif';
import poster from '@assets/video/test4.webp';
import './styles.css';

/* Video Overlay
    Testing the feasibility of overlaying a looping textural grain video
    on top of a website UI
 */
---

<Layout>
  <div id="container">
    <div id="video">
      <img src={test4.src} class="bg" alt="test4 - avif animated image with webp fallback">
    </div>
  </div>
</Layout>

<script>
  import Freezeframe from 'freezeframe';

  // Freezeframe currently pauses the looping background when cursor focus is outside the window
  const bgAnim = new Freezeframe({
    selector: '.bg'
  })
</script>