---
import Layout from '@layouts/Layout.astro';
import test4 from '@assets/video/test4.avif';
import './styles.css';

/* Video Overlay
    Testing the feasibility of overlaying a looping textural grain video
    on top of a website UI
 */
---

<Layout>
  <div id="container">
    <div id="video">
      <picture>
        <source type="image/avif" srcset={test4.src} />
        <img src="@assets/video/test4.webp" alt="test4 - avif animated image with webp fallback">
      </picture>
    </div>
  </div>
</Layout>