---
import Layout from '@layouts/Layout.astro';
import './styles.css';

/* Menu IxD Examples
    A collection of example cases showing how a website menu navigation
    could be implementated and animated through interaction.
 */
---

<Layout>
  <div class="container">
    <nav>
      <div class="logo">testing.</div>
      <div class="menu-button"></div>
    </nav>
    <div class="content">
      <div id="frame1" class="frame">
        <h1>headlining the frame.</h1>
      </div>
      <div id="frame2" class="frame"></div>
      <div id="frame3" class="frame"></div>
      <div id="frame4" class="frame"></div>
    </div>
    </div>
    <div class="menu-panel">
      <ul>
        <li>Link 1</li>
        <li>Link 2</li>
        <li>Link 3</li>
        <li>Link 4</li>
        <li>Link 5</li>
      </ul>
    </div>
  </div>
</Layout>