---
import Layout from '@layouts/Layout.astro';
import './styles.css';

/* Menu IxD Examples
    A collection of example cases showing how a website menu navigation
    could be implementated and animated through interaction.
 */
---

<Layout>
  <div>

  </div>
</Layout>