@view-transition {
  navigation: auto;
}

nav {
  width: calc(100% - 60px);
  padding: 1rem;
  display: flex;
  position: fixed;
  z-index: 10;
  top: 30px;
  left: 50%;
  right: 50%;
  transform: translateX(-50%);
  border: 1px solid black;
  flex-direction: row;
  gap: 1rem;
  justify-content: space-between;

  .logo {
    border: 1px solid gray;
    font: bold 4rem 'Helvetica Neue', sans-serif;
    padding: 0.5rem 2rem;
  }

  .menu-button {
    background: black;
    color: white;
    text-align: center;
    padding: 0.5rem 1rem;
    justify-self: flex-end;
  }
}

.menu-panel {
  display: none;
}

.container {
  max-width: none;
}

.content {
  padding: 30px;
  width: 100%;
}

.frame {
  min-height: 100vh;
  width: 100%;
  border-bottom: 1px solid red;
  display: flex;
}

#frame1 {
  flex-direction: column;
  justify-content: end;
  padding-bottom: 4rem;
}

h1 {
  font: bold 6rem 'Helvetica Neue', sans-serif;
  color: black;
}